---
spring:
  main:
    web-application-type: none

  # H2 DATABASE CONFIGURATION
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    platform: h2
  h2:
    console:
      enabled: true

#Logging
logging:
  level:
    org.apache.commons.io.input: DEBUG
    com.example.httplogmonitor: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

appconfig:
  file:
    accesslog: /tmp/access.log
  requests-per-second: 10